#header {
    background-image:url(asserts/giphy.gif) ;
    height: 100px;
    background-position: center;
}
#titulo {
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contenido {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
