#header {
    background-image:url(asserts/gifs/giphy.gif) ;
    height: 100px;
    width: 300px;
    margin: 0 auto;
    background-position: center;
}
#header {
    @media (min-width: 768px) {
        background-image:url(asserts/gifs/giphy.gif) ;
        height: 100px;
        width: 100%;
        background-position: center;
    }
}
#titulo {
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#centro {
    display: flex;
    width: 500px;
    margin: 0 auto;
}
#centro {
    @media (min-width: 750px) {
        max-width: 33.33vw;
    }
}

.datos{
    display: flex;
    justify-content: center;
    
}
